@font-face {
    font-family: "PT Sans";
    font-weight: normal;
    src:
    url("./fonts/ptsans.woff") format("woff"),
    url("./fonts/ptsans.woff2") format("woff2");
  }

  @font-face {
    font-family: "PT Sans";
    font-weight: bold;
    src:
    url("./fonts/ptsansbold.woff") format("woff"),
    url("./fonts/ptsansbold.woff2") format("woff2");
  }

  .wrapper{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  body{
    font-family: 'PT Sans', Times, sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    background-color: #f2f2f2;
  }

  p{
    color: #333;
  }

  li{
    list-style: none;
  }

  a{
    text-decoration: none;
  }

  header .inner{
    position: relative;
  }

  .min-logo{
    position: absolute;
    width: 138px;
    height: 71px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background: url("./img/logo-min.png") no-repeat;
  }

  .nav-list{
    height: 56px;
    margin: 0 6%;
  }

  .menu-list{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .menu-list li{
    width: 25%;
  }

  .menu-list li:nth-child(2){
    margin-right: 85px;
  }

  .menu-list a{
      font-weight: bold;
      font-size: 14px;
      color: black;
  }
  
  .menu-list .active{
    color:#818181;
  }
  
  
  .menu-list a:hover{
    color:#81b3d2;
  }
  
  .menu-list a:active {
    color: #818181;
  }

  .menu-list li:first-child{
    text-align: left;
  }

  .menu-list li:nth-child(2){
    text-align: left;
  }
  
  .menu-list li:nth-child(3){
    text-align: right;
  }

  .menu-list li:last-child{
    text-align: right;
  }

  .big-logo{
    height: 510px;
    width: 100%;
    background: url("./img/sedona-logo.jpg") no-repeat;
    background-size: contain;
  }

  .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 355px;
    min-height: 215px;
    align-items: center;
  }

  .description .slogan{
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    text-align: center;
  }

  .description .reasons{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
  }

  .about-city,
  .exotic-city{
      display: flex;
      flex-direction: row;
      width: 100%;
      min-height: 256px;
    }
    
    .about-city .block,
    .exotic-city .block{
        background-color: #81B3D2;
        height: 100%;
        width: 400px;
        text-align: center;
    }

    .about-city .block .text{
      padding: 35px 45px 55px 45px;
      color: white;
    }

    .exotic-city .block .text{
      padding: 35px 40px 55px 40px;
      color: white;
    }
    
    .about-city .block .text h2,
    .exotic-city .block .text h2{
        font-size: 21px;
        padding: 0 70px;
        margin-top: 8px;
    }

    .about-city .block .text p,
    .exotic-city .block .text p{
        font-size: 14px;
        font-weight: normal;
        color: white;
    }

    .about-city .block .text .number,
    .exotic-city .block .text .number{
        padding-top: 5px;
    }

    .about-city .block .text .desc,
    .exotic-city .block .text .desc{
        padding-top: 7px;
    }
    
    .about-city .photo{
        min-height: 256px;
        width: 800px;
        background: url("./img/hotel-photo.jpg") no-repeat;
        background-size: cover;
  }

  .exotic-city .photo{
    min-height: 256px;
    width: 800px;
    background: url("./img/devil-photo.jpg") no-repeat;
    background-size: cover;
}

  .money-city{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 330px;
  }

  .money-city > div{
    width: 33%;
    text-align: center;
    padding: 50px 10px 60px;
  }

  .money-city .title{
    font-size: 21px;
  }

  .money-city .desc{
    font-size: 14px;
    font-weight: normal;
    padding: 0 45px;
    margin-top: 26px;
  }

  .money-city .icons{
    margin-bottom: 27px;
  }

  .money-city .icon-house{
    background: url("./img/icon-1.svg") center no-repeat;
    height: 76px;
  }

  .money-city .icon-food{
    background: url("./img/icon-3.svg") center no-repeat;
    height: 76px;
  }

  .money-city .icon-gift{
    background: url("./img/icon-2.svg") center no-repeat;
    height: 76px;
  }

  .reasons-city{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 256px;
    background-color: rgb(238,238,238);
  }

  .reasons-city > div{
    width: 33%;
    text-align: center;
    padding: 35px 57px 45px; 
  }

  .reasons-city .title{
    font-size: 21px;
    margin-top: 8px;
    padding: 0 85px;
  }

  .reasons-city .number{
    font-size: 14px;
    font-weight: normal;
    padding-top: 5px;
  }

  .reasons-city .desc{
    font-size: 14px;
    font-weight: normal;
    padding: 7px 12px 0 12px;
  }

  .travel-city{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  .travel-city .interes{
    background: white;
    width: 100%;
    min-height: 204px;
    text-align: center;
    z-index: 500;
  }

  .travel-city .interes .title{
    font-size: 30px;
    margin: 50px 0 25px;
  }

  .travel-city .interes .desc{
    font-size: 14px;
    font-weight: normal;
    padding: 0 368px;
  }

  .travel-city > .search{
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .travel-city > .search .btn{
    width: 568px;
    min-height: 86px;
    padding: 0;
    color: white;
    background-color: #766357;
    border: none;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
    z-index: 1000;
  }

  .travel-city > .search .btn:hover {
    background: #604e43;
  }

  .travel-city > .search .btn:active {
    background: #503e33;
    color:#818181;
  }

  .travel-city .map{
    position: relative;
  }

  .travel-city .map-img{
    position: absolute;
    background: url("./img/map-min.jpg")  no-repeat;
    background-size: cover;
    width: 100%;
    height: 597px;
  }

  .travel-city .form{
    position: absolute;
    left: 26.33%;
    width: 568px;
    height: 395px;
    background-color: white;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
    animation: move 1.5s;
  }
  
  .travel-city .form > div {
    display: flex;
    margin: 0 55px;
    position: relative;
  }

  .travel-city .form .input {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: black;
    width: 331px;
    height: 38px;
    padding: 0 15px;
    border: none;
    background-color: #f2f2f2;
    margin-bottom: 29px;
  }

  .travel-city .form .label{
    min-width: 119px;
    min-height: 26px;  
    margin: 8px 0 4px;
  }

  .travel-city .form .date-in{
    margin-top: 55px;
  }

  .travel-city .form .date-in a,
  .travel-city .form .date-out a{
    position: absolute;
    left: 93%;
    top: 7px;
    width: 21px;
    height: 23px;
    fill: #818181;
  }

  .travel-city.form .date-in a:hover,
  .travel-city .form .date-out a:hover{
    fill: black;
  }

  .travel-city .form .date-in a:active,
  .travel-city .form .date-out a:active{
    fill: #81b3d2;
  }

  .travel-city .form .input::-webkit-input-placeholder{
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: black;
  }

  .travel-city .form .people > div{
    display: flex;
    width: 50%;
    margin-bottom: 25px;
  }

  .travel-city .form .people .label {
    width: 50%;
  }

  .travel-city .form .people .input{
    padding: 0;
    width: 50%;
    text-align: center;
  }

  .travel-city .form .people .kids .label{
    padding-left: 5%;
    text-align: center;
  }

  .travel-city .form .people a,
  .travel-city .form .people .input{
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
  }

  .travel-city .form .people a{
    height: 35px;
    font-size: 24px;
    text-align: center;
    padding-top: 3px;
    color: #818181;
  }

  .travel-city .form .people a:hover{
    color: black;
  }

  .travel-city .form .people a:active{
    color: #81b3d2;
  }

  .travel-city .form .search{
    display: flex;
    width: 458px;
    height: 58px;
    justify-content: center;
  }

  .travel-city .form .search .btn{
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #81B3D2;
    border: none;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
    color: white;
  }

  .travel-city .form .search .btn:hover{
    background-color: #669ec0;
  }

  .travel-city .form .search .btn:active{
    background-color: #5496bd;
    color: #9bc2d8;
  }

  footer .info{
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    margin-top: 477px;
    width: 100%;
    height: 120px;
    background: rgba(255,255,255, 0.5);
  }

  footer .info > div {
    width: 33%;
    margin-bottom: 10px;
  }

  .catalog .info > div {
    width: 33%;
    margin-bottom: 0px;
  }

  footer .info .visit{
    margin-right: 10px;
  }

  footer .info .visit a{
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    color: black;
  }

  footer .info .visit a:hover{
    color:#81b3d2;
  }
  
  footer .info .visit a:active{
    color: #818181;
  }

  footer .share{
    display: flex;
    justify-content: center;
  }

  footer .share .social{
    width: 46px;
    height: 48px;
    margin-right: 3px;
  }

  footer .share .social:last-child{
    margin: 0;
  }

  footer .share .social-tw{
    background: #81B3D2 url("./img/twitter.svg") no-repeat center;
  }

  footer .share .social-fb{
    background: #81B3D2 url("./img/fb-icon.svg") no-repeat center;
  }

  footer .share .social-yt{
    background: #81B3D2 url("./img/youtube.svg") no-repeat center;
  }

  footer .share .social:hover{
    background-color: #669ec0;
  }

  footer .share .social:active{
    background-color: #5496bd;
  }

  footer .dev{
    display: flex;
    justify-content: center;
  }

  footer .dev .text{
    font-style: normal;
    font-weight: normal;
    color: black;
    font-size: 14px;
    margin-right: 5px;
  }

  footer .dev .link{
    padding-top: 5px;
  }

  footer .dev a:hover *{
    fill: #81b3d2;
  }

  footer .dev a:active *{
    fill: #818181;
  }

  .catalog .info{
    margin: 0;
  }

  .catalog-search .form{
    width: 100%;
    min-height: 217px;
    display: flex;
    text-align: center;
    background: url("./img/filter-background-min.jpg") no-repeat;
    background-size: cover;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: white;
  }

  .catalog-search .form .struct,
  .catalog-search .form .house{
    width: 25%;
    text-align: left;
    margin-bottom: 18px;
  }

  .catalog-search .form .range-filter{
    width: 50%;
  }

  .catalog-search .fieldset .title,
  .catalog-search .range-filter .title{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: white;
    margin: 25px 0;
  }

  .catalog-search .form .fieldset{
    padding: 0;
    border: none;
  }

  .catalog-search .form .struct .fieldset{
    width: 169px;
    margin-left: 72px;
  }

  .catalog-search .form .house .fieldset{
    padding-left: 25px;
  }

   .fieldset .list{
    padding: 0;
  }
  
   .fieldset .list li:not(:last-child){
    padding-bottom: 23px;    
  }

  .fieldset .input{
    display: none;
  }

  .fieldset .text{
    cursor: pointer;
  }

  .fieldset .text::before{
    content: " ";
    display: inline-block;
    background: url("./img/checkbox-off.svg") no-repeat;
    width: 23px;
    height: 23px;
    padding-right: 17px;
    text-align: center;
    vertical-align: middle
  }

  .fieldset .input:checked + label::before{
    content: url("./img/checkbox-on.svg");
  }

  .catalog-search .form .range-filter .title{
    margin-bottom: 11px;
  }

  .catalog-search .form .range-filter .price{
    position: relative;
    display: flex;
    margin-bottom: 11px;
    width: 318px;
    height: 36px;
    margin-bottom: 20px;
    margin-left: 211.23px;
    border: 2px solid white;
    align-items: center;
  }

  .catalog-search .form .range-filter .price > label{
    width: 50%;
    cursor: pointer;
    padding-left: 30px;
  }

  .range-filter .price label input{
    width: 50px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }

  .catalog-search .form .range-filter .frontier{
    position: absolute;
    left: 50%;
    width: 2px;
    height: 22px;
    background: url("./img/frontier.svg") no-repeat;
  }

  .catalog-search .form .range-filter .slider{
    position: relative;
    margin-bottom: 32px;
  }

  .catalog-search .form .range-filter .slider .bar{
    height: 2px;
    width: 318px;
    background-color: rgba(255,255,255,.3);
    margin-left: 213px;
  }

  .range-filter .slider .bar .active{
    width: 80%;
    height: 2px;
    background: #fff;
  }

  .range-filter .slider .toggle{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
  }

  .range-filter .slider .toggle:hover .inner{
    background: #1c4f80;
  }

  .range-filter .slider .toggle .inner{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2px 0px 0px -2px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ababab;
  }

  .range-filter .slider .min{
    position: absolute;
    top: -9px;
    left: 211px;
  }

  .range-filter .slider .max{
    position: absolute;
    top: -9px;
    left: 458px;
  }

  .range-filter .search{
    width: 137px;
    height: 36px;
    margin-left: 295px;
    margin-bottom: 30px;
  }

  .range-filter .search .btn{
    width: 100%;
    height: 100%;
    background: none;
    border: 2px solid #fff;
    color: white;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    align-items: center;
    text-transform: uppercase;
    padding: 0;
  }

  .range-filter .search .btn:hover{
    background-color: white;
    color: black;
  }

  .sort{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cacaca;
    margin-top: 18px;
    padding: 7px 72px 19px;
  }

  .sort .find{
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    margin: 0 auto;
    white-space: nowrap;
  }

  .sort .by{
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 100%;
    vertical-align: middle;
  }

  /* 30 26 */

  .sort .by .title{
    font-weight: 800;
    font-size: 12px;
    color: black;
    padding-right: 40px;
  }

  .sort .by a{
    font-weight: normal;
    font-size: 12px;
    cursor: pointer;
  }

  .sort .by a:not(.price){
    padding-left: 26px;
    color: #cacaca;
    text-decoration: underline dotted #81b3d2;
  }

  .sort .by a:not(.price):hover{
    color: #81b3d2;
  }

  .sort .by .price{
    color: #81b3d2;
  }

  .sort .by .price:hover{
    text-decoration: underline dotted #81b3d2;
  }

  .sort .btn{
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .sort .btn button{
    margin-left: 12px;
    border: none;
    width: 11px;
    height: 10px;
    cursor: pointer;
    padding: 0 6px 5px 0;
    background: none;
  }

  .sort .btn .up *{
    fill: #cacaca;
  }

  .sort .btn .down *{
    fill: #81b3d2;
  }

  .sort .btn button:hover *{
    fill: black;
  }

  .housing > article{
    display: flex;
    flex-direction: unset;
    border-bottom: 1px solid #cacaca;
    padding: 25px 72px;
    align-items: center;
  }

  .housing > article p{
    margin: 0;
  }

  .housing > article .photo{
    width: 135px;
    height: 90px;
    background: url("./img/apd-min.jpg") no-repeat center;
    margin-right: 30px;
  }

  .housing .ars .photo{
    background: url("./img/ars-min.jpg") no-repeat center;
  }

  .housing .dqi .photo{
    background: url("./img/dqi-min.jpg") no-repeat center;
  }

  .housing > article .title{
    min-height: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    color: black;
    margin: 0px 0 5px;
  }

  .housing > article .info{
    width: 250px;
    min-height: 100px;
  }

  .housing > article .info > div{
    display: inline-block;
    width: 110px;
    height: 63px;
    margin-top: 7px;
    text-align: start;
  }

  .housing > article .info > div .text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    padding-bottom: 14px;
  }

  .housing > article .info .more .btn{
    width: 110px;
    min-height: 27px;
    background-color: #81b3d2;
    color: white;
    text-transform: uppercase;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    border: none;
  }

  
  .housing > article .info .reserv .btn{
    width: 142px;
    min-height: 27px;
    background-color: #766357;
    color: white;
    text-transform: uppercase;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    border: none;
  }

  .housing > article .info .more .btn:hover{
    background-color: #669ec0;
  }

  .housing > article .info .more .btn:active{
    background-color: #5496bd;
    color: #818181;
  }

  .housing > article .info .reserv .btn:hover{
    background-color: #604e43;
  }

  .housing > article .info .reserv .btn:active{
    background-color: #503e33;
    color: #818181;
  }

  .housing > article .info{
    min-height: 100px;
  }

  .housing > article .rating{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 120px;
    height: 94px;
    align-items: flex-end;
  }

  .housing > article .rating p{
    margin-top: auto;
    font-size: 14px;
    color: #666;
    background-color: #F2F2F2;
    text-align: center;
    width: 110px;
    padding: 5px 0;
  }

 .travel-city .hidden{
    display: none;
  }

  @keyframes move {
    from { top: -280px;}
    to   { top: 0px;}
  }

  @media screen and (width: 768px) {
    .wrapper{
      width: 100%;
      height: 100%;
      box-shadow: none;
    }

    .menu-list li{
      width: 20%;
    }

    .min-logo{
      width: 102px;
      height: 83px;
      background: url("./img/tablet/logotype.png") no-repeat;
    }

    .big-logo{
      height: 518px;
      width: 100%;
      background: url("./img/tablet/big-logo.png") no-repeat;
      background-size: cover;
    }

    .description{
      padding: 0 139px;
    }

    .about-city .block,
    .exotic-city .block{
        width: 33%;
        min-height: 256px;
    }

    .about-city .block .text,
    .exotic-city .block .text {
        padding: 46px 47px 49px;
        color: white;
    }

    .about-city .block .text h2,
    .exotic-city .block .text h2 {
      padding: 0;
      margin-top: 0;
      margin-bottom: 8px;
    }

    .about-city .block .text .number,
    .exotic-city .block .text .number{
      margin: 0;
      padding: 0;
    }

     .about-city .block .text .desc,
     .exotic-city .block .text .desc{
      margin-top: 10px;
      margin-bottom: 0;
      padding: 0;
    }

    .about-city .photo{
      background: url("./img/tablet/hotel.png") no-repeat;
    }

    .exotic-city .photo{
      background: url("./img/tablet/bridge.png") no-repeat;
    }

    .about-city .photo,
    .exotic-city .photo{
      width: 67%;
      background-size: cover;
    }

    .reasons-city > div{
      padding: 49px;
    }

    .reasons-city .title{
      padding: 0;
    }

    .travel-city .interes .desc{
      padding: 0;
    }

    .reasons-city .desc{
      padding: 0;
    }

    .travel-city > .search .btn{
      width: 458px;
      min-height: 58px;
      background-color: #81b3d2;
      margin-bottom: 58px;
    }

    .travel-city > .search .btn:hover{
      background-color: #669ec0;
    }

    .travel-city > .search .btn:active{
      background-color: #5496bd;
      color: #9bc2d8;
    }

    .travel-city .form{
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .travel-city .map-img{
      background: url("./img/tablet/map.png") no-repeat;
      background-size: cover;
      height: 350px;
    }

    footer .info{
      margin-top: 350px;
    }

    footer .share .social{
      margin-right: 6px;
    }

  }

  @media screen and (width: 320px) {
    .wrapper{
      width: 100%;
      height: 100%;
      box-shadow: none;
    }

    .nav-list{
      min-height: 220px;
      margin: 0;
      margin-bottom: 56px;
    }

    .menu-list{
      flex-direction: column;
    }

    .menu-list li{
      width: 100%;
      min-height: 15px;
      background-color: #81b3d2;
      box-shadow: 0px 1px 0 0 rgba(1, 1, 1, 0.2);
    }

    .menu-list li a{
      color: white;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
    }

    .menu-list li:first-child{
      padding: 20px 0 20px;
      text-align: center;
    }

    .menu-list li:nth-child(2){
      text-align: center;
      margin: 0;
      padding: 21px 0 20px;
    }

    .menu-list li:nth-child(3){
      text-align: center;
      padding: 21px 0 20px;
    }

    .menu-list li:nth-child(4){
      text-align: center;
      padding: 21px 0 20px;
    }

    .menu-list .active {
      color: white;
    }

    .menu-list a:hover{
      color: white;
    }

    .menu-list li:hover{
      background-color: #669ec0;
    }
  
    .menu-list li:active{
      background-color: #5496bd;
      color: #9bc2d8;     
    }

    .min-logo{
      width: 102px;
      height: 83px;
      background: url("./img/tablet/logotype.png") no-repeat;
      top: 223px;
    }

    .big-logo{
      height: 389px;
      background: url("./img/mobile/big-logo.png") no-repeat;
    }

    .description {
      padding: 0 33px 0 31px;
      min-height: 202px;
      align-items: center;
    }

    .description .slogan{
      font-size: 18px;
      text-align: center;
    }

    .description .reasons{
      text-align: center;
      margin-bottom: 0;
    }

    .about-city, .exotic-city{
      flex-direction: column;
      min-height: 211px;
    }
      
    .about-city .block{
      background: #81B3D2 url("./img/mobile/white-bg.png") no-repeat;
      background-position: top left;
      width: 100%
    }

    .about-city .block .text{
      padding: 80px 27px 45px;
      text-align: center;
    }

    .about-city .block .text h2{
      font-size: 18px;
      padding: 0;
    }

    .about-city .photo{
      width: 100%;
      height: 260px;
      background: url("./img/mobile/hotel.png") no-repeat;
    }

    .money-city{
      flex-direction: column;
      min-height: 416px;
    }

    .money-city > div{
      width: 100%;
      height: 33%;
      padding: 0;
      text-align: left;
      vertical-align: top;
    }

    .money-city .icon-house,
    .money-city .icon-food,
    .money-city .icon-gift{
      display: inline-block;
      width: 38px;
      height: 36px;
      background: url("./img/mobile/icon-house.png") no-repeat;
      margin: 26px 5px 0 21px;
    }

    .money-city .icon-food{
      width: 40px;
      height: 35px;
      margin-right: 3px;
      background: url("./img/mobile/icon-burger.png") no-repeat;
    }

    .money-city .icon-gift{
      width: 32px;
      height: 38px;
      margin-right: 11px;
      background: url("./img/mobile/icon-gift.png") no-repeat;
    }

    .money-city > div .title{
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
      margin-top: 0px;
    }

    .money-city >div .desc{
      display: inline-block;
      padding: 0 41px 0 70px;
      margin-top: 0;
    }

    .money-city >div:last-child .desc:last-child{
      margin-bottom: 42px;
    }

    .exotic-city .photo{
      width: 100%;
      height: 260px;
      background: url("./img/mobile/bridge.png") no-repeat;
    }

    .exotic-city .block{
      width: 100%;
      min-height: 191px;
    }

    .exotic-city .block .text{
      padding: 45px 31px 42px 29px;
    }

    .exotic-city .block .text h2 br{
      display: none;
    }

    .exotic-city .block .text h2{
      padding: 0;
      font-size: 18px;
      margin-top: 0;
    }

    .reasons-city{
      flex-direction: column;
      min-height: 503px;
      width: 100%;
    }

    .reasons-city > div{
      height: 33%;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid rgba(128, 128, 128, 0.1);
      padding: 0;
    }

    .reasons-city > div:last-child{
      border: none;
    }

    .reasons-city .title{
      padding: 0;
      margin-top: 33px;
      margin-bottom: 0;
    }

    .reasons-city .desc{
      padding: 0;
      margin-bottom: 32px;
      padding: 0 37px 0 36px;
    }

    .travel-city .interes .title{
      font-size: 21px;
      margin-top: 33px;
    }

    .travel-city .interes .desc br{
      display: none;
    }

    .travel-city .interes .desc{
      padding: 0 30px 0 29px;
    }

    .travel-city > .search .btn{
      width: 280px;
      min-height: 58px;
      background-color: #81b3d2;
      margin-bottom: 49px;
    }

    .travel-city > .search .btn:hover{
      background-color: #669ec0;
    }

    .travel-city > .search .btn:active{
      background-color: #5496bd;
      color: #9bc2d8;
    }

    .travel-city .form{
      display: none;
    }

    .travel-city .map-img{
      background: url("./img/mobile/map.png") no-repeat;
      background-size: cover;
      width: 100%;
      height: 350px;
    }

    footer .info{
      flex-direction: column;
      min-height: 233px;
      width: 100%;
      margin-top: 350px;
    }

    footer .info > div{
      width: 100%;
    }

    footer .info .visit{
      margin: 0;
    }

    footer .info .visit a{
      display: block;
      margin: 31px 93px 41px 90px;
    }

    footer .info .share{
      margin-bottom: 40px;
    }

    footer .share .social{
      margin-right: 6px;
    }
  }